@import 'colors';
@import 'fonts';

@import 'nav';
@import 'hero';
@import 'portfolio';

/* GLOBAL */

* {
  box-sizing: border-box;
  backface-visibility: hidden;
}

body {
  margin: 0;
  background-color: $gray--extra-dark;
}